* {
  font-size: 14px;
}
.status-btn, .status-btn a {
  max-width: 160px;
  width: 100%;
  font-size: 10px;
}
.status-btn a {
  display: block;
}
.fs-12, .fs-12 a {
  font-size: 12px;
}
.card {
  height: 160px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.container {
  margin-bottom: 48px;
}
